body{
	background-color: #000 !important;
	background-image: url('https://s3.amazonaws.com/myfangate.com/blessthefall/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}
.full-w{
	width: 100%;
}