<div id="bundles" class="container">
	<div class="row">
		<div class="col-lg-12 text-center cta">
		  <h1>PRE-ORDER	BUNDLES	ARE	STILL AVAILABLE</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle1.png">
		</div>
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle2.png">
		</div>
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle3.png">
		</div>		
	</div>
	<div class="row">
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle4.png">
		</div>
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle5.png">
		</div>
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle6.png">
		</div>		
	</div>
	<div class="row">
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle7.png">
		</div>
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle8.png">
		</div>
		<div class="col-lg-4 bundle">
			<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle9.png">
		</div>		
	</div>		
</div>