<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center cta">
		  <h1 id="preorder">U.S. PRE-ORDER BUNDLES ARE STILL AVAILABLE</h1>
		</div>
	</div>	
</div>
<div id="bundles" class="container">
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bundle">
			<a href="http://blessthefall.merchnow.com/products/v2/211865/blessthefall-to-those-left-behind-bundle-6" target="_blank">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle4.png">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bundle">
			<a href="http://blessthefall.merchnow.com/products/v2/211867/blessthefall-to-those-left-behind-bundle-8" target="_blank">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle3.png">
			</a>
		</div>			
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bundle">
			<a href="http://blessthefall.merchnow.com/products/v2/211869/blessthefall-to-those-left-behind-cd--digital-download" target="_blank">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle11.png">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bundle">
			<a href="http://blessthefall.merchnow.com/products/v2/211870/blessthefall-to-those-left-behind-lp--digital-download" target="_blank">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/bundle10.png">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bundle">
			<a href="http://fearlessrecords.firebrandstores.com/products.php?cat=3441" target="_blank">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/firebrand.png">
			</a>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 bundle">
			<a href="http://24hundred.net/collections/blessthefall" target="_blank">
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/24hundred.png">
			</a>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
			<br>
			<a href="http://smarturl.it/ToThoseLeftBehind" target="_blank">	
				<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/blessthefall/btfdigital.png">
			</a>
			<br>
			<br>
			<br>
		</div>			
	</div>			
</div>



